<section class="seccion_principal">
    <div class="titulos">
        <div class="arriba">
            <img class="imagen_tit" src="../../assets/img-con.svg" alt="logo_consultec">
            <h2 class="tit_izq">Te damos la Bienvenida al portal personal Banking</h2>
            <h5 class="sub_izq">¿Eres nuevo en el banco?</h5>
            <a id="idenlace" href="#"><h5 class="frase_izq ">Crea tu clave!</h5></a>
            
        </div>
        <div class="abajo">
            <h2 class="abajo_cuenta">Aun no tienes cuenta?</h2>
            <a id="idenlace" href="#"><h5 class="abajo_reg ">Registrate ahora</h5></a>
            

        </div>
    </div>

</section>