<section>

    <div class="login">

        <h1 class="log_tit"><span class="inicio">Inicio de </span>Sesión</h1>

         <input class="correo" id="" cols="30" rows="10" type="text"placeholder="Ingresa tu correo electronico:" >
         <input class="clave" id="" cols="30" rows="10" type="password"placeholder="Ingresa tu clave de internet:">

        <h5 class="problemas">Tienes problema con tu cuenta?<span class="contra" ><a class="enlace" href="#">Recuperar contraseña</a></span></h5>
        <button class="btn_inicio">Iniciar Sesión</button>


    </div>


</section>