<section>

    <div class="login">

		<h1 class="log_tit">
         <input class="nombre" id="" cols="30" rows="10" type="text"placeholder="Ingresa tus nombres" >

         <input class="apellido" id="" cols="30" rows="10" type="password"placeholder="Ingresa tus apellidos:">

		 <input class="DNI" id="" cols="30" rows="10" type="text"placeholder="Ingresa tu DNI:" >

		 <input class="fNacimiento" id="" cols="30" rows="10" type="text"placeholder="Ingresa tu fecha de nacimiento" >

		 <input class="nContraseña" id="" cols="30" rows="10" type="text"placeholder="Ingresa tu nueva contraseña" >

		 <input class="rContraseña" id="" cols="30" rows="10" type="text"placeholder="Repite la contraseña" >
		
		 
    </div>


</section>
